<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>easyRent</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
  <!--%= stylesheet_link_tag "my.css" %-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  <!--%= javascript_include_tag "my.js" %-->

  <!-- User-generated css -->
  <style>
    
  </style>

  <!-- User-generated js -->
  <script>

    $(function() {
        
    });

  </script>
</head>
<body>
  <!-- Login -->
  <div data-role="page" data-theme="b" id="page3">
      <div data-theme="b" data-role="header" data-position="fixed">
          <h1>
              EasyRent
          </h1>
      </div>


	<%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
	<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
	<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
	
	  <%= yield %>
	
      <div data-theme="a" data-role="footer" data-position="fixed">
          <h3>
              Foo Tang Clan © 2013
          </h3>
      </div>
  </div>
</body>
</html>