<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>easyRent</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
  <%= stylesheet_link_tag "my.css" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  <%= javascript_include_tag "my.js" %>

  <!-- User-generated css -->
  <style>
	@media (min-width: 450px){
		.ui-field-contain .ui-controlgroup-controls {width: 100%; display: inline-block;}
	}
  
	@media all and (min-width: 450px){
		.ui-field-contain label.ui-input-text  { vertical-align: top; display: inline-block; width: 20%; margin: 0 2% 0 0 }
		.ui-field-contain input.ui-input-text, 
		.ui-field-contain textarea.ui-input-text, 
		.ui-field-contain .ui-input-search { width: 100%; display: inline-block; } 
		.ui-hide-label input.ui-input-text, 
		.ui-hide-label textarea.ui-input-text, 
		.ui-hide-label .ui-input-search { width: 100%; }
		.ui-input-search input.ui-input-text { width: 99%; /*echos rule from above*/ }
	}

	element.style {
		padding: 15%;
	}
  </style>

  <!-- User-generated js -->
  <script>

    $(function() {
		$("#currency").maskMoney({symbol:'$ '});
	})

  </script>
</head>
<body>
	
	<div data-role="page" data-theme="b" id="page4">
	      <div data-theme="b" data-role="header">
			  <a data-role="button" data-theme="b" href="/home"
			   data-icon="back" data-iconpos="left" class="ui-btn-left">
			      Back
			  </a>
	          <a id="settings" data-role="button" data-inline="true" data-theme="b"
	           href="#page9" data-icon="gear" data-iconpos="notext" class="ui-btn-right">
	          </a>
	          <h3>
	              EasyRent
	          </h3>
	      </div>

		<%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
		<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
		<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>

		<%= yield %>

		<div data-theme="a" data-role="footer" data-position="fixed">
	          <h1>
	              Foo Tang Clan © 2013
	          </h1>
	      </div>
	  </div>

</body>
</html>
